
*.env
*.pyc
*/__pycache__/*
.vscode/
django/.idea/
.idea/
### OSX ###
*.DS_Store
django/stubs/

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace


.Trash-*
.nfs*